
#container {
    background-color: white;
    border: 2px solid #2f6fad;
}

.schedule-table {
    width: 85%;
    margin: 30px auto;
    border-collapse: collapse;
}


.schedule-table th {
    background-color: #2f6fad;
    color: white;
    padding: 15px;
    text-align: left;
}


.schedule-table td {
    padding: 15px;
}


.schedule-table tbody tr:nth-child(even) {
    background-color: #e6eef7;
}

.schedule-table tbody tr:nth-child(odd) {
    background-color: white;
}



h2 {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 30px;
}



section {
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #d0d7de;
}

section p {
    font-size: 18px;
    line-height: 1.6;
}


section img {
    border: 3px solid #2f6fad;
    padding: 6px;
    margin-top: 10px;
}


section ul {
    font-size: 18px;
    padding-left: 25px;
}


section ol {
    font-size: 18px;
    padding-left: 25px;
}


section h3 {
    font-size: 26px;
    color: #2f6fad;
    margin-top: 20px;
}


/* Page background */
body {
    background-color: #e9ecef;
    margin: 0;
    font-family: Georgia, "Times New Roman", serif;
}

/* Main content container */
#container {
    width: 85%;
    margin: auto;
    background-color: #ffffff;
    padding: 25px;
    border: 2px solid #2f5f8f;
}